# Dependencies
node_modules
client/node_modules
server/node_modules
api/node_modules

# Build output
dist
client/dist

# Environment variables
.env
.env.local
.env.production

# Vercel & IDE
.vercel
.vscode
.idea
*.log
DS_Store
